{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio doloribus fugiat reiciendis molestias? Beatae, vitae quod corporis, cum illo magni facere in tenetur perspiciatis, voluptatem dolorem ipsum sunt pariatur deserunt.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi fuga eligendi aliquam eos asperiores, iste cum neque eius quam quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, delectus.</p>

</div>

{% endblock content %}